<div class='container'>
  <div class="row justify-content-center align-items-center m-3">
    <div class="col-auto m-3">
      <%= render 'public/customers/list', customers: customers %>
    </div>
  </div>
</div>