<% if @model == 'customer' %>
	<h3>"<%= @content %>"さんの検索結果</h3>
  <%= render 'public/customers/list', customers: @records %>
<% elsif @model == 'post_image' %>
	<h3>"<%= @content %>"の投稿一覧</h3>
  <%= render 'public/post_images/list', post_images: @records %>
<% end %>