/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
background-color: #fffaf0;
background-size: contain;
}

.seach {
background-color: #ffa07a;
text-align: right;
padding:0px 20px 5px 0px;
}

.notice{
color: #228b22;
text-align: center;
font-weight:bolder;
}

.post_title{
  color: #ff6347;
  font-size: 20px;
  font-weight: bolder;
}

.pet_title{
  color: #b22222;
  font-weight: bolder
}

.view{
display: flex;
}

.back-postimage{
  background-image: url("22810527.jpg");
  border-radius: 10px 10px;
}

.comment{
position: relative;
background-color: #ffc4c4;
padding: 10px;
color: #333;
margin-top: 20px;
}

.comment::before {
content: "";
position: absolute;
border: 12px solid transparent;
border-bottom: 12px solid #ffc4c4;
top: -24px;
left: 50%;
}

.comment p {
  margin: 0;
padding: 0;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}